<% layout("layouts/boilerplateLecturers") %>

    <h1 class="page-title">
        ASSIGNMENT
    </h1>

    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow mb-3 py-2">
                <h2 class="ps-3">Detail</h2>
            </div>
            <div class="card shadow">
                <div class="card-body">
                    <label class="h5" for="author">Author</label>
                    <div class="card p-2 mb-3">
                        <p class="card-text mb-0" id="author">
                            <%= student.username %> | <%= student.name %> | <%= student.department %>
                        </p>
                    </div>
                    <div class="d-flex">
                        <div class="col-md-5 me-4">
                            <label class="h5" for="title">Phase</label>
                            <div class="card p-2 mb-3">
                                <p class="card-text mb-0" id="title">
                                    <%= assignment.phase %>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5 me-4">
                            <label class="h5" for="title">Status</label>
                            <div class="card p-2 mb-3">
                                <p class="card-text mb-0" id="title">
                                    <%= assignment.status %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <label class="h5" for="title">Title</label>
                    <div class="card p-2 mb-3">
                        <p class="card-text mb-0" id="title">
                            <%= assignment.title %>
                        </p>
                    </div>
                    <label class="h5" for="content">Content</label>
                    <div class="card p-2 mb-3">
                        <p class="card-text mb-0" id="content">
                            <%= assignment.content.originalname %>
                        </p>
                    </div>
                    <div class="d-flex">
                        <div class="col-md-3 me-5">
                            <label class="h5" for="title">Time Created</label>
                            <div class="card p-2 mb-3">
                                <p class="card-text mb-0" id="title">
                                    <%= assignment.time.createdOn.toLocaleDateString() %>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 me-5">
                            <label class="h5" for="title">Time Updated</label>
                            <div class="card p-2 mb-3">
                                <p class="card-text mb-0" id="title">
                                    <%= assignment.time.updatedOn.toLocaleDateString() %>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 me-5">
                            <label class="h5" for="title">Deadline</label>
                            <div class="card p-2 mb-3">
                                <p class="card-text mb-0" id="title">
                                    <% if (assignment.status=="Under Review by Lecturers" ) { %>
                                        Lecturer(s) |
                                        <% } else { %>
                                            Student |
                                            <% } %>
                                                <%= assignment.time.expiresOn.toLocaleDateString() %> <strong>(<%=
                                                            assignment.elapsedTimeDay %> Days
                                                            Left)</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-sm btn-secondary mt-3 mx-1"
                        href="/lecturer/student/<%= student._id %>/assignment/<%= assignment._id %>/accept-assignment">Accept
                        Assignment</a>
                    <a class="btn btn-sm btn-secondary mt-3 mx-1"
                        href="/lecturer/download-assignment/<%= assignment._id %>">Download
                        PDF</a>
                    <a class="btn btn-sm btn-secondary mt-3 mx-3" href="/lecturer/inbox">&larr;
                        Previous Page</a>
                </div>
            </div>
        </div>
    </div>