<% layout("layouts/boilerplateAdmins") %>

    <h1 class="page-title">INFO | FAQS</h1>
    <a href="/admin/info-faqs/add-faq" class="btn btn-sm btn-secondary mb-2">Add Faq</a>

    <h2>Audience: Student</h2>
    <table class="table table-striped-columns table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% for (let faq of faqs) { %>
                <% if (faq.audience=="Student" ) { %>
                    <tr>
                        <th scope="row">
                            <%= faq.title %>
                        </th>
                        <td>
                            <%= faq.content %>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    &#8226;&#8226;&#8226;
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" href="/admin/info-faqs/<%= faq._id %>">Open</a></li>
                                    <li><a class="dropdown-item"
                                            href="/admin/info-faqs/<%= faq._id %>/edit-faq">Edit</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="/admin/info-faqs/<%= faq._id %>/delete-faq">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                        <% } %>
        </tbody>
    </table>

    <h2>Audience: Lecturer</h2>
    <table class="table table-striped-columns table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% for (let faq of faqs) { %>
                <% if (faq.audience=="Lecturer" ) { %>
                    <tr>
                        <th scope="row">
                            <%= faq.title %>
                        </th>
                        <td>
                            <%= faq.content %>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    &#8226;&#8226;&#8226;
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" href="/admin/info-faqs/<%= faq._id %>">Open</a></li>
                                    <li><a class="dropdown-item"
                                            href="/admin/info-faqs/<%= faq._id %>/edit-faq">Edit</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="/admin/info-faqs/<%= faq._id %>/delete-faq">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                        <% } %>
        </tbody>
    </table>