<% layout("layouts/boilerplateAdmins") %>

    <div class="card text-center">
        <div class="card-header">
            ACCEPT ASSIGNMENT
        </div>
        <div class="card-body">
            <h5 class="card-title">Are you sure?</h5>
            <p class="card-text">Doing this will indicate that the lecturer have reviewed and have accepted the
                assignment: <%= assignment.title %> <strong>by</strong>
                    <%= assignment.author.username %> | <%= assignment.author.name %>
            </p>
            <form
                action="/admin/user-lecturers/<%= lecturer._id %>/assignment/<%= assignment._id %>/accept-assignment?_method=PUT"
                method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <button class="btn btn-secondary">Accept Assignment</button>
                </div>
            </form>
            <a class="btn btn-sm btn-secondary mt-3 mx-3" onclick="history.back()">&larr;
                Previous Page</a>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>