<% layout("layouts/boilerplateAdmins") %>

    <div class="card text-center">
        <div class="card-header">
            DELETE
        </div>
        <div class="card-body">
            <h5 class="card-title">Are you sure?</h5>
            <p class="card-text">Doing this will permanently delete lecturer's assigned student: <%= student.username %> | <%= student.name %>
            </p>
            <form class="mx-4 delete-user-form"
                action="/admin/user-lecturers/<%= lecturer._id %>/student/<%= student._id %>/delete-student?_method=DELETE"
                method="POST">
                <button class="btn btn-secondary">Yes</button>
            </form>
            <a href="/admin/user-lecturers/<%= lecturer._id %>" class="btn btn-secondary mx-4">No</a>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>